[package]
name = "ntex-amqp"
version = "3.5.0"
authors = ["ntex contributors <team@ntex.rs>"]
description = "AMQP 1.0 Client/Server framework"
documentation = "https://docs.rs/ntex-amqp"
repository = "https://github.com/ntex-rs/ntex-amqp.git"
categories = ["network-programming"]
keywords = ["AMQP", "IoT", "messaging"]
license = "MIT OR Apache-2.0"
exclude = [".gitignore", ".travis.yml", ".cargo/config"]
edition = "2021"
rust-version = "1.75"

[workspace]
members = [
  ".",
  "codec",
]

[features]
default = []

# log frames on trace level
frame-trace = []

[dependencies]
ntex = "2.10"
ntex-amqp-codec = "0.9"

bitflags = "2"
log = "0.4"
pin-project-lite = "0.2"
slab = "0.4"
uuid = { version = "1", features = ["v4"] }
derive_more = { version = "1", features = ["display", "from"] }

[dev-dependencies]
env_logger = "0.11"
rand = "0.8"
ntex-amqp = { path = ".", features = ["frame-trace"] }

[patch.crates-io]
ntex-amqp = { path = "." }
ntex-amqp-codec = { path = "codec" }
