[package]
name = "ntex-amqp"
version = "2.0.0"
authors = ["ntex contributors <team@ntex.rs>"]
description = "AMQP 1.0 Client/Server framework"
documentation = "https://docs.rs/ntex-amqp"
repository = "https://github.com/ntex-rs/ntex-amqp.git"
categories = ["network-programming"]
keywords = ["AMQP", "IoT", "messaging"]
license = "MIT OR Apache-2.0"
exclude = [".gitignore", ".travis.yml", ".cargo/config"]
edition = "2018"

[workspace]
members = [
  ".",
  "codec",
]

[features]
default = []

# log frames on trace level
frame-trace = []

[dependencies]
ntex = "1.0"
ntex-util = "1.0.1"
ntex-amqp-codec = "0.9"

bitflags = "2.4"
derive_more = "0.99"
log = "0.4"
pin-project-lite = "0.2"
slab = "0.4"
uuid = { version = "1", features = ["v4"] }

[dev-dependencies]
env_logger = "0.10"
ntex = { version = "1.0", features = ["tokio"] }

[patch.crates-io]
ntex-amqp = { path = "." }
ntex-amqp-codec = { path = "codec" }
